@tailwind base;
@tailwind components;
@tailwind utilities;

.current {
  @apply text-darkBrown;
}

body {
  background: url('../img/bg.png') center / cover;
}

nav {
  background: url('../img/nav-bg.png') no-repeat center / cover;
}

#menu-card {
  background: url('../img/menu-bg.jpg') no-repeat center / cover;
  @apply relative -z-20;
}

#menu-card::before {
  content: '';
  @apply absolute bg-[#150900]/70 top-0 bottom-0 left-0 right-0 -z-10;
}

#contact {
  background: url('../img/contact-bg.jpg') no-repeat center / cover;
  @apply relative z-20;
}

#contact::before {
  content: '';
  @apply absolute bg-darkBrown/50 top-0 bottom-0 left-0 right-0 -z-10;
}

section {
  scroll-margin-top: 100px;
}

@media (max-width: 640px) {
  #about {
    scroll-margin-top: 200px;
  }

  #visit-us {
    scroll-margin-top: 200px;
  }

  #menu {
    scroll-margin-top: 200px;
  }
}
